<div id="<%= dom_id comment %>">
  <p>
    <strong>Context:</strong>
    <%= comment.context %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comment.user_id %>
  </p>

  <p>
    <strong>Exhibition:</strong>
    <%= comment.exhibition_id %>
  </p>

</div>
